/* Set default styles for the entire website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

#services h2,
#about h2,
#contact h2 {
  margin-bottom: 10px;
}

#services ul {
  list-style: none;
  margin-left: 20px;
}

#services li {
  margin-bottom: 10px;
}

/* Style the contact form */
form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #333;
  color: #fff
